include /src/templates/_partials/vars.pug
include /src/templates/_partials/mixins.pug

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="description", content=metaDescription)
    meta(name="author", content=metaAuthor)
    meta(name="keywords", content=metaKeywords)
    meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title SPH : Singapore Press Holdings | #{metaTitle}
    link(rel='icon', type='image/png', sizes='32x32', href=assetsPath + '/images/common/favicon.png')
    // Style
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    if pub == 'st'
      <link href="fonts/st/fontST.css" rel="stylesheet">
    if pub == 'zb'
      <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;500;700&display=swap" rel="stylesheet">
    if pub == 'bh'
      <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;600;700&family=Lato:wght@400;700&display=swap" rel="stylesheet">
    if pub == 'tm'
      <link href="https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@400;600;700&display=swap" rel="stylesheet">

    link(href=assetsPath + "css/main.css", rel="stylesheet")
    link(href=assetsPath + "css/slick-slider/slick.css", rel="stylesheet")
    link(href=assetsPath + "css/slick-slider/slick-theme.css", rel="stylesheet")



  body(class=bodyClass)
    // if lt IE 10
      p.browserupgrade You are using an strong outdated browser. Please a(href='http://browsehappy.com/') upgrade your browser to improve your experience.
    block layout
